body{
    background-color: #f0f0f0;
}


img{
    margin-right:auto;
}

.eye{
    text-align: center;
}

.gaiyo{
    float:left;
}

.rinen{
    text-align: center;
    
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.chair_kind{
    margin-left: auto;
    margin-right: auto;
    
}


.image{
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 3px #000000;
    background-color: white;

}

.font{
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 3px black;
    background-color: white
}
